{% extends "_includes/default.njk" %}
{% block title %}Space Tours | Crew{% endblock %}
{% block content %}
  <main class="h-screen w-full">
    <div class="container">
      <h1 class="numbered-heading">
        <span>02</span>Meet your crew</h1>
    </div>
  </main>
{% endblock %}