{% extends "_includes/default.njk" %}
{% block title %}Space Tours | Destinations{% endblock %}
{% block content %}
  <main class="h-screen w-full">
    <div class="container">
      <h1 class="numbered-heading">
        <span>01</span>Pick your destination</h1>

      <div>
        <img src="./images/destination/image-moon.png" alt="Image of the Moon.">
        <img src="./images/destination/image-europa.png" alt="Image of the moon Europa.">
        <img src="./images/destination/image-mars.png" alt="Image of the planet Mars.">
        <img src="./images/destination/image-titan.png" alt="Image of the moon Titan.">
        <div>
          {# ctlr #}
          {# Details #}
          <h2>Moon</h2>
          <h2>Europa</h2>
          <h2>Mars</h2>
          <h2>Titan</h2>
        </div>
      </div>
    </div>
  </main>
{% endblock %}