{% extends "_includes/default.njk" %}
{% block title %}Space Tours | Tech{% endblock %}
{% block content %}
  <main class="grid items-center grid-cols-nav-mobile h-screen w-full pt-24 xl:pt-24 text-white bg-tech-mobile bg-cover bg-no-repeat md:bg-tech-tablet xl:grid-cols-tech-desktop xl:bg-tech-desktop">
    <div class="xl:col-start-2">
      <h1 class="numbered-heading mb-header-bottom ml-4 xl:mb-0 font-sans-cond text-primary text-head-5 text-center sm:text-left uppercase">
        <span>03</span>Space launch 101</h1>

      <div class="tech-slider grid grid-cols-1 items-center xl:grid-cols-12 justify-items-center text-center xl:text-left" data-slider-selected="item-1">
        <img class="xl:col-start-8 xl:col-span-5" data-slider-tag="item-1" src="/images/technology/image-launch-vehicle-landscape.jpg" srcset="/images/technology/image-launch-vehicle-landscape.jpg 768w,
        /images/technology/image-launch-vehicle-portrait.jpg 800w" alt="Image of the Moon.">
        <img class="xl:col-start-8 xl:col-span-5" data-slider-tag="item-2" src="/images/technology/image-spaceport-landscape.jpg" srcset="/images/technology/image-spaceport-landscape.jpg 768w,/images/technology/image-spaceport-portrait.jpg 800w" alt="Image of the moon Europa.">
        <img class="xl:col-start-8 xl:col-span-5" data-slider-tag="item-3" src="/images/technology/image-space-capsule-landscape.jpg" srcset="/images/technology/image-space-capsule-landscape.jpg 768w, /images/technology/image-space-capsule-portrait.jpg 800w" alt="Image of the planet Mars.">
        {# ctlr #}
        <div class="tech-slider-ctrl flex items-center justify-center text-head-4 my-8 xl:col-start-1 xl:row-start-1">
          <ul class="flex xl:flex-col gap-4">
            <li class="block">
              <input class="sr-only" type="radio" name="technology" value="item-1" id="tech-launch" checked="true">
              <label class="tech-ctrl-tab" for="tech-launch">
                <span>1</span></label>
            </li>
            <li class="block">
              <input class="sr-only" type="radio" name="technology" value="item-2" id="tech-port">
              <label class="tech-ctrl-tab" for="tech-port">
                <span>2</span></label>
            </li>
            <li class="block">
              <input class="sr-only" type="radio" name="technology" value="item-3" id="tech-capsule">
              <label class="tech-ctrl-tab" for="tech-capsule">
                <span>3</span></label>
            </li>
          </ul>
        </div>
        {# Details #}
        <div class="px-3 xl:col-start-2 xl:col-span-5 xl:row-start-1" data-slider-tag="item-1">
          <h2 class="font-serif text-head-3 mb-4 uppercase">
            <span class="block tracking-wide font-sans-cond text-dest-ctrl text-primary">the terminology...</span>launch vehicle</h2>

          <p class="text-base text-primary leading-loose">A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!</p>
        </div>
        <div class="px-3 xl:col-start-2 xl:col-span-5 xl:row-start-1" data-slider-tag="item-2">
          <h2 class="font-serif text-head-3 mb-4 uppercase">
            <span class="block tracking-wide font-sans-cond text-dest-ctrl text-primary">the terminology...</span>Spaceport</h2>

          <p class="text-base text-primary leading-loose">A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, by analogy to the seaport for ships or airport for aircraft. Based in the famous Cape Canaveral, our spaceport is ideally situated to take advantage of the Earth’s rotation for launch.</p>
        </div>
        <div class="px-3 xl:col-start-2 xl:col-span-5 xl:row-start-1" data-slider-tag="item-3">
          <h2 class="font-serif text-head-3 mb-4 uppercase">
            <span class="block tracking-wide font-sans-cond text-dest-ctrl text-primary">the terminology...</span>Space capsule</h2>

          <p class="text-base text-primary leading-loose">A space capsule is an often-crewed spacecraft that uses a blunt-body reentry capsule to reenter the Earth's atmosphere without wings. Our capsule is where you'll spend your time during the flight. It includes a space gym, cinema, and plenty of other activities to keep you entertained.</p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}