@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* * Numbered Navigation Links */
  /* *-------------------------- */
  .numbered-nav {
    position: relative;
  }

  .numbered-nav::before,
  .numbered-nav::after {
    content: "";
    @apply hidden absolute;
  }

  .numbered-nav[data-is-active="false"]::before,
  .numbered-nav::before {
    @apply bottom-0 left-0 w-full h-1 bg-transparent md:bg-gray;
  }

  .numbered-nav[data-is-active="false"]::after,
  .numbered-nav::after {
    @apply top-0 right-0 h-full w-1 bg-gray md:bg-transparent;
  }

  .numbered-nav[data-is-active="true"]::before {
    @apply bg-transparent md:bg-white;
  }

  .numbered-nav[data-is-active="true"]::after {
    @apply bg-white md:bg-transparent;
  }

  .numbered-nav[data-is-active="true"]::before,
  .numbered-nav[data-is-active="true"]::after,
  .numbered-nav:hover::before,
  .numbered-nav:hover::after {
    @apply block;
  }

  .numbered-nav span {
    @apply font-bold mr-3;
  }

  /* * Numbered Heading */
  /* *----------------- */
  .numbered-heading {
    @apply text-head-5 tracking-wide;
  }

  .numbered-heading span {
    @apply font-bold mr-[1em] text-gray;
  }

  /* * Explore Button */
  /* *--------------- */
  .explore-btn {
    /* 20px --> 32px */
    font-size: clamp(1.25rem, 1.9vw + 0.5rem, 2rem);

    @apply h-[7.5em] w-[7.5em] flex justify-center items-center bg-white rounded-full uppercase font-serif;
  }

  .explore-btn:hover {
    box-shadow: 0px 0px 0px 2em theme("colors.low-white");
  }

  /* * Sliders */
  /* *------------------ */
  [data-slider-tag="item-1"],
  [data-slider-tag="item-2"],
  [data-slider-tag="item-3"],
  [data-slider-tag="item-4"] {
    @apply hidden;
  }

  [data-slider-selected="item-1"] [data-slider-tag="item-1"],
  [data-slider-selected="item-2"] [data-slider-tag="item-2"],
  [data-slider-selected="item-3"] [data-slider-tag="item-3"],
  [data-slider-selected="item-4"] [data-slider-tag="item-4"] {
    @apply block;
  }

  /*? Destination tabs */
  .dest-ctrl-tab {
    @apply relative z-10 text-primary inline-block uppercase;
  }

  .dest-ctrl-tab::before {
    content: "";
    @apply absolute bottom-0 left-0 w-full h-[2px] bg-transparent;
  }

  .dest-ctrl-tab:hover::before {
    @apply bg-low-white;
  }

  input:checked + .dest-ctrl-tab {
    @apply text-white;
  }

  input:checked + .dest-ctrl-tab::before {
    @apply bg-white;
  }

  /*? Crew tabs */
  .crew-ctrl-tab:hover span {
    @apply bg-gray;
  }

  input:checked + .crew-ctrl-tab span {
    @apply bg-white;
  }

  /*? Tech tabs */
  .tech-ctrl-tab {
    @apply flex justify-center items-center w-[2.5em] h-[2.5em] text-white border-low-white bg-transparent border-solid border-[2px] hover:border-gray rounded-full;
  }

  input:checked + .tech-ctrl-tab {
    @apply bg-white border-white text-black;
  }
}

@layer utilities {
  .bg-glass {
    background-color: theme("colors.low-dark");
  }
  @supports (
    (-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))
  ) {
    .bg-glass {
      background-color: theme("colors.low-white");

      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
    }
  }

  .nav-decor::before {
    content: "";
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 0;
    width: 42%;
    height: 1px;

    @apply bg-low-white hidden xl:block;
  }
}
